.item-list{
    padding-top: 0px;
    margin-left: 0px;
    
}
.cart{
  display: none;
      width: 15%;
      height: 20px;
      margin-top: -120px;
      margin-left: 80%;
      padding-top: 20px;
      padding-right: 10px;
      display: none;
    }

.feature-box{
    width:155px;
    height: 160px;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
}
.feature-box a img{
    width:80%;
    height: 80%;
    object-fit: cover;
    margin-left: 15px;
    margin-top: 12px;
    object-position: center;
    border-radius: 50%;
}
.item span{
    font-size: 1rem;
    font-weight: 600;
    margin: 15px;
    color: #444444;
}
.item{
    border-radius: 22px;
    background: #ffffff;
    box-shadow:  19px 19px 50px #c9c9c9, 
                -19px -19px 50px #ffffff;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 20px;
}
#autoWidth{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}
@media only screen and (max-width: 650px){

    .first-div{
      width: 20px;
      height: 20px;
    }
  /* Dropdown Button */
    .dropbtn {
      padding: 26px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    /* Dropdown button on hover & focus */
   

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position:absolute;
      display: vertical;
      width: 30px;
      height: 30px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    .lorem{
        width: 30%;
        margin-top: -190px;
        margin-left: 37%;
        font-size: 30px;
        color: black;
    }
    .cart{
      width: 15%;
      height: 20px;
      margin-top: -120px;
      margin-left: 80%;
      padding-top: 20px;
      padding-right: 10px;
    }
    .heading{
      font-size: 25px;
      padding-left: 30px;

    }
    .content{
      margin-top: 0px;
      margin-left: 20px;
    padding-top: 100px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
}
.paragraph{
    width: 80%;
    font-size: 20px;
    padding-left: 60px;
}
.small-screen{
    display:flex;
}
.big-screen{
    display: none;
}

}